@(usuario: Usuario, cupons: List[Cupom], loja: String)
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GET CUPOM</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/assets/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/creative.css" type="text/css">

    <link rel="stylesheet" href="/assets/css/styl.css" type="text/css">

    <link rel="stylesheet" href="/assets/css/custom.css" type="text/css">

    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css">

    <style type="text/css" rel="stylesheet">
        .divLojas{
            padding: 0;
            margin-left: 0px;;
        }
        .head{
            text-align: center;
        }
        .listaCupons{
            margin-top: 10px;
        }


    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

<header>
    <div class="header-content">
        <!-- HEADER COM LISTA DE LOJAS ATUALIZADAS -->
        <div id="listaLojasHome" class="header-content-inner">
            <h1>Procurando desconto?</h1>

            <h2>Aqui você encontra cupons de desconto da sua loja favorita!</h2>
            <hr>
            <div class="dark">
                <form action="" method="get">
                        <span><input type="text" class="search rounded" placeholder="
                        Busque pelo nome da Loja. Ex: Netshoes, Dafiti,...">
                             <input type="submit" class="btn btn-warning btn-lg pesq" value="Buscar">
                        </span>

                </form>
            </div>
            <div class="divLojas">
                <ul class="divLojas">
                    <li><a title="Cupom de Desconto Mobly"
                           href="#"><img title="Cupom de Desconto Mobly"
                                                                                  width="85"
                                                                                  height="52"
                                                                                  alt="Cupom de Desconto Mobly"
                                                                                  src="http://cdn.cuponomize.com/wp-content/uploads/2014/01/desconto-mobly-logo.jpg"></a>
                    </li>
                    <li><a
                           title="Cupom de Desconto Netshoes" href="#"><img
                            title="Cupom de Desconto Netshoes" width="85" height="52" alt="Cupom de Desconto Netshoes"
                            src="http://cdn.cuponomize.com/wp-content/uploads/2014/01/desconto-netshoes-logo.jpg"></a>
                    </li>
                    <li><a
                           title="Cupom de Desconto Centauro" href="#"><img
                            title="Cupom de Desconto Centauro" width="85" height="52" alt="Cupom de Desconto Centauro"
                            src="http://cdn.cuponomize.com/wp-content/uploads/2014/01/desconto-centauro-logo.jpg"></a>
                    </li>
                    <li><a
                           title="Cupom de Desconto Kanui"
                           href="#"><img title="Cupom de Desconto Kanui"
                                                                                  width="85"
                                                                                  height="52"
                                                                                  alt="Cupom de Desconto Kanui"
                                                                                  src="http://cdn.cuponomize.com/wp-content/uploads/2014/01/desconto-kanui-logo.jpg"></a>
                    </li>
                    <li><a
                           title="Cupom de Desconto Submarino"
                           href="#"><img
                            title="Cupom de Desconto Submarino" width="85" height="52" alt="Cupom de Desconto Submarino"
                            src="http://cdn.cuponomize.com/wp-content/uploads/2014/01/desconto-submarino-logo.jpg"></a>
                    </li>
                    <li><a
                           title="Cupom de Desconto Walmart" href="#"><img
                            title="Cupom de Desconto Walmart" width="85" height="52" alt="Cupom de Desconto Walmart"
                            src="http://cdn.cuponomize.com/wp-content/uploads/2014/01/desconto-walmart-logo.jpg"></a>
                    </li>
                    <li><a
                           title="Cupom de Desconto Americanas"
                           href="#"><img
                            title="Cupom de Desconto Americanas" width="85" height="52"
                            alt="Cupom de Desconto Americanas"
                            src="http://cdn.cuponomize.com/wp-content/uploads/2014/01/desconto-americanas-logo.jpg"></a>
                    </li>
                    <li><a
                           title="Cupom de Desconto Ricardo Eletro"
                           href="#"><img
                            title="Cupom de Desconto Ricardo Eletro" width="85" height="52"
                            alt="Cupom de Desconto Ricardo Eletro"
                            src="http://cdn.cuponomize.com/wp-content/uploads/2014/01/desconto-ricardo-eletro-logo.jpg"></a>
                    </li>
                    <li><a
                           title="Cupom de Desconto Saraiva" href="#"><img
                            title="Cupom de Desconto Saraiva" width="85" height="52" alt="Cupom de Desconto Saraiva"
                            src="http://cdn.cuponomize.com/wp-content/uploads/2014/01/desconto-saraiva-logo.jpg"></a>
                    </li>
                    <li><a
                           title="Cupom de Desconto eFacil"
                           href="#"><img title="Cupom de Desconto eFacil"
                                                                                   width="85" height="52"
                                                                                   alt="Cupom de Desconto eFacil"
                                                                                   src="http://cdn.cuponomize.com/wp-content/uploads/2014/01/desconto-efacil-logo.jpg"></a>
                    </li>
                    <li><a
                           title="Cupom de Desconto Magazine Luiza"
                           href="#"><img
                            title="Cupom de Desconto Magazine Luiza" width="85" height="52"
                            alt="Cupom de Desconto Magazine Luiza"
                            src="http://cdn.cuponomize.com/wp-content/uploads/2014/01/desconto-magazine-luiza-logo.jpg"></a>
                    </li>
                    <li><a
                           title="Cupom de Desconto Shoptime" href="#"><img
                            title="Cupom de Desconto Shoptime" width="85" height="52" alt="Cupom de Desconto Shoptime"
                            src="http://cdn.cuponomize.com/wp-content/uploads/2014/01/desconto-shoptime-logo.jpg"></a>
                    </li>
                    <li><a
                           title="Cupom de Desconto Época Cosméticos"
                           href="#"><img
                            title="Cupom de Desconto Época Cosméticos" width="85" height="52"
                            alt="Cupom de Desconto Época Cosméticos"
                            src="http://cdn.cuponomize.com/wp-content/uploads/2014/01/desconto-epoca-cosmeticos-logo.jpg"></a>
                    </li>
                    <li><a
                           title="Cupom de Desconto Sepha"
                           href="#"><img title="Cupom de Desconto Sepha"
                                                                                  width="85"
                                                                                  height="52"
                                                                                  alt="Cupom de Desconto Sepha"
                                                                                  src="http://cdn.cuponomize.com/wp-content/uploads/2014/01/desconto-sepha-logo.jpg"></a>
                    </li>
                    <li><a
                           title="Cupom de Desconto Sephora" href="#"><img
                            title="Cupom de Desconto Sephora" width="85" height="52" alt="Cupom de Desconto Sephora"
                            src="http://cdn.cuponomize.com/wp-content/uploads/2014/01/desconto-sephora-logo.jpg"></a>
                    </li>
                    <li><a
                           title="Cupom de Desconto Extra"
                           href="#"><img title="Cupom de Desconto Extra"
                                                                                  width="85"
                                                                                  height="52"
                                                                                  alt="Cupom de Desconto Extra"
                                                                                  src="http://cdn.cuponomize.com/wp-content/uploads/2014/01/desconto-extra-logo.jpg"></a>
                    </li>
                    <li><a
                           title="Cupom de Desconto Ponto Frio"
                           href="#"><img
                            title="Cupom de Desconto Ponto Frio" width="85" height="52"
                            alt="Cupom de Desconto Ponto Frio"
                            src="http://cdn.cuponomize.com/wp-content/uploads/2014/01/desconto-ponto-frio-logo.jpg"></a>
                    </li>
                    <li><a
                           title="Cupom de Desconto Dafiti"
                           href="#"><img title="Cupom de Desconto Dafiti"
                                                                                   width="85" height="52"
                                                                                   alt="Cupom de Desconto Dafiti"
                                                                                   src="http://cdn.cuponomize.com/wp-content/uploads/2014/01/desconto-dafiti-logo.jpg"></a>
                    </li>

                </ul>
            </div>
        </div>

    </div>
</header>

<section class="meusec">
    <div class="content-box listaCupons">
        <!-- Aqui temos uma lista de cupons verificar itens a usar -->
        <div class="box-holder">
            <div class="head">
                @if(usuario==null){
                    <h2>Confira os melhores cupons para Abril de 2015:</h2>
                }else{
                    <h2>Olá @usuario.getNome, Confira os melhores cupons @loja para Abril de 2015:</h2>
                }
            </div>
            @for(cupom <- cupons){
                @if(cupom.getTipo==0){
                    <div class="post-@cupom.getId coupon type-coupon status-publish hentry item coupon_type-coupon-code"
                    id="post-@cupom.getId">
                        <div class="store-holder cuponsCategoria">
                            <div class="store-image"><a href="@cupom.getUrl_loja"><img
                            alt="Cupom de Desconto @cupom.getLoja" title="Veja mais cupons de desconto @cupom.getLoja"
                            width="125px" height="43px"
                            src="http://cdn.cuponomize.com/wp-content/uploads/2015/01/cupom-desconto-descomplica.jpg"></a>
                            </div>
                        </div>
                        <div class="item-holder listWithImage cuponsCategoria">
                            <div class="item-panel"><strong class="tipo"><span>Cupom de Desconto </span><span
                            class="verificacao">Testado</span></strong>

                                <h3><a class="linkConversao" rel="nofollow" data-link-type="titulo"
                                data-coupon-type="codigo" data-store-commission="true"
                                data-url-redirect="@cupom.getUrl_loja"
                                data-cupom-status="publicado" data-store-id="395" data-store-name="@cupom.getLoja"
                                data-store-slug="@cupom.getLoja" target="_blank"
                                href="#">@cupom.getTexto</a></h3><span class="maisCupons"><a
                                href="#">Veja mais cupons de
                                    @cupom.getLoja</a> »</span></div>
                            <div class="mostra-cupom"><a rel="nofollow"
                            title="Clique aqui para ver o código do seu cupom @cupom.getLoja"
                            class="linkConversao botao-codigo" data-link-type="botao"
                            data-coupon-type="cupom" data-store-commission="true"
                            data-url-redirect="#"
                            data-cupom-status="publicado" data-store-id="395"
                            data-store-name="@cupom.getLoja" data-store-slug="@cupom.getLoja"
                            href="#">
                                <div class="codigo voupassar">@cupom.getTag</div>
                                <div class="codigo-texto" data-toggle="modal" data-target="#myModal"> Ver Cupom<span
                                class="peelie"></span></div>
                            </a></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                }else{
                    <div class="post-@cupom.getId coupon type-coupon status-publish hentry item coupon_type-desconto"
                    id="post-@cupom.getId">
                        <div class="store-holder cuponsCategoria">
                            <div class="store-image"><a href="@cupom.getUrl_loja"><img
                            alt="Cupom de Desconto @cupom.getLoja" title="Veja mais cupons de desconto @cupom.getLoja"
                            width="125px" height="43px"
                            src="http://cdn.cuponomize.com/wp-content/uploads/2015/01/cupom-desconto-mega-mamute.jpg"></a>
                            </div>
                        </div>
                        <div class="item-holder listWithImage cuponsCategoria">
                            <div class="item-panel"><strong class="tipo"><span>Link de Desconto </span><span
                            class="verificacao">Testado</span></strong>

                                <h3><a class="linkConversao" rel="nofollow" data-link-type="titulo"
                                data-coupon-type="desconto" data-store-commission="true"
                                data-url-redirect="#"
                                data-cupom-status="publicado" data-store-id="381" data-store-name="@cupom.getLoja"
                                data-store-slug="@cupom.getLoja" target="_blank"
                                href="#">@cupom.getTexto</a></h3><span class="maisCupons"><a
                                href="#">Veja mais cupons de
                                    @cupom.getLoja</a> »</span></div>
                            <div class="mostra-cupom"><a rel="nofollow" class="linkConversao botao-codigo botao-desconto"
                            data-link-type="botao" data-coupon-type="desconto"
                            data-store-commission="true"
                            data-url-redirect="#"
                            data-cupom-status="publicado" data-store-id="381"
                            data-store-name="@cupom.getLoja" data-store-slug="@cupom.getLoja"
                            target="_blank"
                            href="@cupom.getUrl_loja">
                                <div class="codigo-texto"> Ver Desconto</div>
                            </a></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                }
            }


            <!-- Modal unique-->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <!-- Cabecalho -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn btn-danger close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h3>5% de desconto em todo o site + 10% de desconto no boleto</h3>
                            <h5 class="desc">Economia de 5% em todos os produtos + 10% de descontos em suas compras
                                pagando no boleto.</h5>
                        </div>
                        <!-- Conteudo -->
                        <div id="modaldiv" class="popup-conteudo">
                            <div id="modaldivinner" class="popup-codigo">
                                <span id="modalspam">TELEF8MM0304</span>
                                <!--<button title="Clique para copiar o código do cupom." style="" id="modalbutton"
                                        data-clipboard-text="TELEF8MM0304">Copiar
                                </button>
                                <script src="ZeroClipboard.js">
                                    var clip = new ZeroClipboard(document.getElementById('my-button'));
                                </script>-->
                            </div>
                            <!--<div class="popup-link" style="display: none;"><h4> Nenhum código necessário para essa
                                oferta. </h4><h5 class="dsm"> Normalmente o desconto é adicionado ao valor dos produtos
                                ou aparece no carrinho de compras após adicionar os produtos. Vá pra loja e
                                confira! </h5>
                                </div>-->
                            <a id="modalirloja" class="popup-ir-loja" rel="nofollow"
                               href="" target="_blank"><strong id="modalirlojastrong">Ir
                                para MegaMamute →</strong></a>
                        </div>
                        <!-- Footer -->
                        <div id="pNews">
                            <div class="inPNews">
                                <div class="lojaForm"><h3>Nunca mais perca um grande cupom de MegaMamute</h3>

                                    <p>Receba em seu e-mail os melhores cupons de desconto. Aproveite, é
                                        <strong>GRÁTIS</strong>!</p>

                                    <form action="" method="post" class="newsletter"
                                          name="newsletter"><input type="hidden" name="local"
                                                                   value="Form Poup-up Mostra Cupom"><input
                                            type="hidden" name="loja" value="MegaMamute"><input type="email" required=""
                                                                                                name="email" id="email"
                                                                                                placeholder="Digite aqui seu e-mail"><input
                                            type="submit" id="assinar" value="Assinar"></form>
                                </div>
                            </div>
                        </div>
                        <!-- Barra buttons -->
                        <div class="modal-footer">
                            <center>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer id="meufooter">
        <ul class="icons">
            <li><a href="#" class=""><span class="label"></span></a></li>
            <li><a href="#" class=""><span class="label"></span></a></li>
            <li><a href="#" class=""><img src="/assets/img/iface.png"></a></li>
            <li><a href="#" class=""><img src="/assets/img/gplus.png"></a></li>
            <li><a href="#" class=""><span class="label"></span></a></li>
            <li><a href="#" class=""><span class="label"></span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Get Cupom 2015</li>
        </ul>
    </footer>
</section>



<!-- jQuery -->
<script src="/assets/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/assets/js/jquery.easing.min.js"></script>
<script src="/assets/js/jquery.fittext.js"></script>
<script src="/assets/js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/assets/js/creative.js"></script>

</body>

</html>
